In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in d:\datascience\myenv\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\datascience\myenv\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\datascience\myenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: fonttools>=4.22.0 in d:\datascience\myenv\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: numpy>=1.23 in d:\datascience\myenv\lib\site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: pyparsing>=2.3.1 in d:\datascience\myenv\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\datascience\myenv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: cycler>=0.10 in d:\datascience\myenv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in d:\datascience\myenv\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in d:\datascience\myenv\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: six>=1.5 in d:\datascience\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in d:\datascience\myenv\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in d:\datascience\myenv\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in d:\datascience\myenv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in d:\datascience\myenv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: packaging>=20.0 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pillow>=8 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: cycler>=0.10 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\datascience\myenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: pytz>=2020.1 in d:\datascience\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in d:\datascience\myenv\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in d:\datascience\myenv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\datascience\myenv\lib\site-packages (1.6.1)
Requirement already satisfied: scipy>=1.6.0 in d:\datascience\myenv\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in d:\datascience\myenv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in d:\datascience\myenv\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\datascience\myenv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [3]:
#Load dataset
df=pd.read_csv("boston_housing.csv")

In [4]:
#View dimension of dataset
df.shape

(506, 14)

In [5]:
#View some statistics of dataset mean,max,min etc
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
#View dataset features and attribute information
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
# Assign feature variable to df_x 
df_x=df
print(df_x)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio   black  lstat  price
0       15.3  396.90   4.98   24.0
1       17.8  396.90   9.14   21.6
2       17.8  392.83   4.03   34.7
3       18.7  394.63   2.94   33.4
4       18.7  396.90   5.33   36.2
..       ...     ...    ...    ...
501     21.0  391.99   9.67   22.4
502     21.0  396.90   9.08   20.6
503     21.0  396.90   5.64   23.9
504     21.0  393.45   6.48   22.0
505     21.0  396.90   7.88   11.9

[506 rows x 14 columns]

In [8]:
# Assign medv variable to df_y
df_y=df.price
print(df_y)

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: price, Length: 506, dtype: float64

In [ ]:
#Initialize the linear regression model
reg =linear_model.LinearRegression()

In [ ]:
#Split the data into 67% training and 33% testing data
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42)

In [ ]:
#Train our model with the training data
reg.fit(x_train, y_train)

In [ ]:
#Print the coefecients/weights for each feature/column of our model
print(reg.coef_)

In [ ]:
#print our price predictions on our test data
y_pred = reg.predict(x_test)
print(y_pred)

In [ ]:
#print the predicted price and actual price of houses from the testing data set row 0
y_pred[0]

In [ ]:
y_test[0]

In [ ]:
# To check the modeles performance / accuracy
print(np.mean((y_pred-y_test)**2))