In [2]:
pip install numpy

Requirement already satisfied: numpy in d:\datascience\myenv\lib\site-packages (2.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\datascience\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in d:\datascience\myenv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\datascience\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in d:\datascience\myenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: pytz>=2020.1 in d:\datascience\myenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in d:\datascience\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as nm

In [5]:
import pandas as pd

In [6]:
speed= [35,4,56,88,95,68,75,42,32,15,65,24,66,94,81,83,44]
nm.mean(speed)

np.float64(56.88235294117647)

In [7]:
nm.median(speed)

np.float64(65.0)

In [8]:
pip install spicy

Requirement already satisfied: spicy in d:\datascience\myenv\lib\site-packages (0.16.0)
Requirement already satisfied: scipy in d:\datascience\myenv\lib\site-packages (from spicy) (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in d:\datascience\myenv\lib\site-packages (from scipy->spicy) (2.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
from scipy import stats
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
x = stats.mode(speed)
print(x)

ModeResult(mode=np.int64(86), count=np.int64(3))

In [10]:
arr=[1,2,3,4,5,6]
n=len(arr)
arr_sum=sum(arr)
mean=arr_sum/n
print("mean of arr is", mean)

mean of arr is 3.5

In [11]:
# arr=[1,2,3,4,5,6]
# n=len(arr)
a=arr.sort()
median=0
if(n%2):
    med1=arr[n//2]
    med2=arr[(n//2)-1]
    median=(med1+med2)/2

else:
    median=arr[n//2]

print("median of arr is", median)

median of arr is 4

In [12]:
 from collections import Counter
 
n_num = [1, 2, 3, 4, 5, 5]
 n = len(n_num)
 
data = Counter(n_num)
 get_mode = dict(data)
 mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]
 
if len(mode) == n:
    get_mode = "No mode found"
 else:
    get_mode = "Mode is/are : " + ', '.join(map(str,mode))
 print(get_mode)

Mode is/are : 5

In [13]:
df=pd.DataFrame({'A':['a','b', 'c', 'c', 'a', 'b'],
     'B': [0,1,1,0,1,0]}, dtype = "category")

In [14]:
df

   A  B
0  a  0
1  b  1
2  c  1
3  c  0
4  a  1
5  b  0

In [15]:
df.dtypes

A    category
B    category
dtype: object

In [16]:
df.groupby(['A']).count().reset_index()

C:\Users\Rahul Wanjare\AppData\Local\Temp\ipykernel_31128\1007523107.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['A']).count().reset_index()

   A  B
0  a  2
1  b  2
2  c  2

In [17]:
df=pd.DataFrame({'A' :['a', 'b', 'c', 'c', 'a','b'],
                'B' :[0,1,1,0,1,0], 
                 'C': [7,5,9,8,4,6] })

In [18]:
df

   A  B  C
0  a  0  7
1  b  1  5
2  c  1  9
3  c  0  8
4  a  1  4
5  b  0  6

In [19]:
df.groupby(['A', 'B']).mean().reset_index()

   A  B    C
0  a  0  7.0
1  a  1  4.0
2  b  0  6.0
3  b  1  5.0
4  c  0  8.0
5  c  1  9.0

In [81]:
data = pd.read_csv("D:/DataScience/DSBDA LAB/Iris.csv")

In [82]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [83]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [84]:
setosa=data['Species'] == 'Iris-setosa'

In [86]:
data[setosa].describe()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [88]:
virginica=data['Species']=="Iris-virginica"
data[virginica].describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000