In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\datascience\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: tzdata>=2022.7 in d:\datascience\myenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: pytz>=2020.1 in d:\datascience\myenv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\datascience\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in d:\datascience\myenv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: six>=1.5 in d:\datascience\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install numpy

Requirement already satisfied: numpy in d:\datascience\myenv\lib\site-packages (2.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install spicy

Requirement already satisfied: spicy in d:\datascience\myenv\lib\site-packages (0.16.0)
Requirement already satisfied: scipy in d:\datascience\myenv\lib\site-packages (from spicy) (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in d:\datascience\myenv\lib\site-packages (from scipy->spicy) (2.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
import numpy as np

In [6]:
#mean
speed=[62,58,49,34,52,67,43,78]
mean_speed=np.mean(speed)
print("Mean speed is ", mean_speed)

Mean speed is  55.375

In [7]:
#median 
speed=[62,58,49,34,52,67,43,78]
median_speed=np.median(speed)
print("Median speed is ", median_speed)

Median speed is  55.0

In [10]:
#mode
from spicy import stats
speed=[62,58,49,34,52,67,43,78, 62]
mode_speed=stats.mode(speed)
print("Mode speed is ", mode_speed)

Mode speed is  ModeResult(mode=np.int64(62), count=np.int64(2))

In [13]:
speed=[62,58,49,34,52,67,43,78, 62]
get_sum=np.sum(speed)
n=len(speed)

mean=get_sum/n
print("Mean speed is", mean)

Mean speed is 56.111111111111114

In [20]:
#median
speed=[62,58,49,34,52,67,43,78, 62]
speed.sort()
print(new_speed)
n=len(speed)

if(n%2==0):
    median1=speed[n//2]
    median2=speed[n//2-1]
    median=(median1+mdeian2)//2
else:
    median=speed[n//2]

print("Median speed is", median)

[34 43 49 52 58 62 62 67 78]
Median speed is 58

In [22]:
df=pd.DataFrame({"A":['a','b','c','c','a','b'],
               "B": [1,0,0,1,0,1]}, dtype="category"
               )

In [23]:
df

   A  B
0  a  1
1  b  0
2  c  0
3  c  1
4  a  0
5  b  1

In [24]:
df.dtypes

A    category
B    category
dtype: object

In [26]:
df.groupby(["A"]).count().reset_index()

C:\Users\Rahul Wanjare\AppData\Local\Temp\ipykernel_14088\3084567504.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["A"]).count().reset_index()

   A  B
0  a  2
1  b  2
2  c  2

In [28]:
df=pd.DataFrame({"A":['a','b','c','c','a','b'],
               "B": [1,0,0,1,0,1],
                "C":[9,5,4,6,8,7]}
               )

In [32]:
df["A"]=df["A"].astype("category")
df.groupby(["A","B"]).mean().reset_index()

C:\Users\Rahul Wanjare\AppData\Local\Temp\ipykernel_14088\3581912139.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["A","B"]).mean().reset_index()

   A  B    C
0  a  0  8.0
1  a  1  9.0
2  b  0  5.0
3  b  1  7.0
4  c  0  4.0
5  c  1  6.0

In [33]:
data=pd.read_csv("Iris.csv")

In [34]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [36]:
setosa=data["Species"]=="Iris-setosa"
print(data[setosa].describe())

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [37]:
virginica=data["Species"]=="Iris-virginica"
print(data[virginica].describe())

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

In [47]:
data1=data.iloc[50:70, 4:6]

In [46]:
data.shape

(150, 6)

In [48]:
data1

    PetalWidthCm          Species
50           1.4  Iris-versicolor
51           1.5  Iris-versicolor
52           1.5  Iris-versicolor
53           1.3  Iris-versicolor
54           1.5  Iris-versicolor
55           1.3  Iris-versicolor
56           1.6  Iris-versicolor
57           1.0  Iris-versicolor
58           1.3  Iris-versicolor
59           1.4  Iris-versicolor
60           1.0  Iris-versicolor
61           1.5  Iris-versicolor
62           1.0  Iris-versicolor
63           1.4  Iris-versicolor
64           1.3  Iris-versicolor
65           1.4  Iris-versicolor
66           1.5  Iris-versicolor
67           1.0  Iris-versicolor
68           1.5  Iris-versicolor
69           1.1  Iris-versicolor

In [50]:
versicolor=data["Species"]=="versicolor"
print(data[versicolor].describe())

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  0.0            0.0           0.0            0.0           0.0
mean   NaN            NaN           NaN            NaN           NaN
std    NaN            NaN           NaN            NaN           NaN
min    NaN            NaN           NaN            NaN           NaN
25%    NaN            NaN           NaN            NaN           NaN
50%    NaN            NaN           NaN            NaN           NaN
75%    NaN            NaN           NaN            NaN           NaN
max    NaN            NaN           NaN            NaN           NaN